*__pycache__/
*.ipynb_checkpoints/
*.DS_Store
dataset/bin_mnist_35/new_test3.txt
dataset/bin_mnist_35/new_test5.txt
dataset/bin_mnist_35/new_train3.txt
dataset/bin_mnist_35/new_train5.txt
python_dev.ipynb
